//Custom Variables

//Colours
$primary: #333c55;
$secondary: #73879c;
$success: #46ad8d;
$danger: #eb5757;
$warning: #f2c94c;

//Custom Classes

//General
* {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #d32f2f;
}
p {
    color: $primary!important;
}

//Index

//CTA

//promeniti ime u nesto drugo sledecoj klasi
.icon {
    width: 230px;
    height: 150px;
    @media screen and (min-width: 992px) and (max-width: 1200px) {
        width: 150px;
        height: 100px;
    }
}

//Campaigns
.flag {
    height: 16px;
    width: auto;
}
.badge {
    border-radius: 150rem!important;
}
.campaign-logo {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(-50%, 0);
}